<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Polls App</title>
</head>

<body>
    <h1>{{ question.question_text }}</h1>
    <ul>
        {% for choice in question.choice_set.all %}
        <li>{{ choice.choice_text }} has {{ choice.votes }} vote{{ choice.votes|pluralize}}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'polls:detail' question.id %}">Vote again?</a>
</body>

</html>